*{
    /* outline: 2px solid gold; */
    
}

body{
    width: 85%;
    margin: 0 auto;
    
}

header{
    justify-content: space-between;
    position: relative;
    display: flex;
    
}
.search-form{
    padding: 20px;
    display: inline-flex;
    flex-flow: row wrap;
    align-content: center;
    
}

.img-d{
    object-fit: cover;
    width: 40%;
    height: auto;
}
.text-d{
    text-align: center;
    justify-content: center;
}
a{
    color: #90caf9 ;
    text-decoration: none;
}