{% extends 'base.html' %}
{% block content %}

    <h1 class="text-d blue lighten-3">Written by {{blog.user.username}}</h1>


    <div class="row blue lighten-3">
        <div class="col s6 offset-s3 blue lighten-3">
            <div class="card text-d ">
            <div class="card-image">
                <img src="{{blog.img}}">
                <span class="card-title">{{ blog.title }}</span>
            </div>
            <div class="card-content blue lighten-3">
                <p>{{ blog.info }}</p>
            </div>
            {% if user.is_authenticated and blog.user.username == user.username %}
                <div class="card-action blue lighten-3">
                    <a href="{% url 'blog_update' blog.id %}"> <span>Edit</span> </a>
                    <a href="{% url 'blog_delete' blog.id %}"> <span>Delete</span></a>
                </div>
            {% endif %}
            </div>
        </div>
        </div>
 
{% endblock %}
